{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% block head %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>{% block title %}To-Do Manager{% endblock %}</title>

        <link href="https://fonts.googleapis.com/css?family=Hammersmith+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'global-style.css' %}">
    </head>
    {% endblock %}
    <body>
        <nav class="navbar">
            <div class="container">
                <div id="navbar">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">ToDo <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url "index" %}">
                                <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;View
                            </a></li>
                            <li class="divider"></li>
                            <li><a href="{% url "index" %}">
                                <span class="glyphicon glyphicon-tint"></span>&nbsp;&nbsp;View again
                            </a></li>
                        </ul>
                    </li>
                </div>
            </div>
        </nav>
    	{% block content %}
    	{% endblock %}
    </body>
</html>