{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>{% block title %}To-Do Manager{% endblock %}</title>

        <link href="https://fonts.googleapis.com/css?family=Hammersmith+One&display=swap" rel="stylesheet">
        {% comment %}
        <link rel="stylesheet" href="{% static "application.css" %}?v=2">
        {% endcomment %}
    </head>
    <body>
    	{% block content %}
    	{% endblock %}
    </body>
</html>