{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% block head %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>{% block title %}To-Do Manager{% endblock %}</title>

        <link href="https://fonts.googleapis.com/css?family=Hammersmith+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'global-style.css' %}">
    </head>
    {% endblock %}
    <body>
    	{% block content %}
    	{% endblock %}
    </body>
</html>